* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
  
  }
  
  
  h1,h3,h2 {
    margin: 0;
    font-size: 1em;
  }
  
  li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  p {
    margin: 0;
  }
  
  input:focus {
    outline: none;
  }
  
  *:before,
  *:after   {
    box-sizing: border-box;
  }
  

  body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    margin: 0 auto;
    width: 100%;

  }
  /*HEADER*/
  
  .container {
    width: 100%;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;

  }

  .header_iner {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    justify-content: space-between;
    align-items: center;
  }

  .header {
    background-image: url("https://github.com/ErhovEA/E_E_A.github.io/blob/main/img/01.jpg");
    background-repeat: no-repeat;
    background-position: 0% 0%;
    background-size: cover;
    background-color: rgb(247, 244, 244);
    position: relative;
    padding-top: 0px;
    padding-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    border: solid;

    z-index: 1;


  }

  .header::after { 
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.6;
    
    z-index: -1;
  }

  .header_logo_img {
    margin-left: 5px;
    margin-top: 0px;
    width: 200px;

  }
  .header_iner {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    justify-content: space-between;
    align-items: center;

  }

  .header_logo {
    margin-left: 15px;
    margin-top: 0px;
    width: 150px;

  }

  .menu {
    position: fixed;
    margin-top: 20px;
    margin-bottom: 20px;
    border: solid;
  }

  .menu_list {
    display: flex;
    flex-wrap: wrap;

  }

  .menu_list_item:nth-child(n+2) {
    margin-left: 40px;

  }



/*CONTENT*/

  .main {
    border: solid;
    display: flex;
    flex-wrap: wrap;
    width: 850px;


  }




