* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
  
  }
  
  
  h1,h3,h2 {
    margin: 0;
    font-size: 1em;
  }
  
  li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  p {
    margin: 0;
  }
  
  input:focus {
    outline: none;
  }
  
  *:before,
  *:after   {
    box-sizing: border-box;
  }

  /* <uniquifier>: Use a unique and descriptive class name
  / <weight>: Use a value from 300 to 800*/

  /*open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  }*/
  body {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    margin: 0 auto;
    width: 100%;

  }
  .container {
    width: 100%;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;

  }

  .header {
    background-image: url("https://github.com/ErhovEA/E_E_A.github.io/blob/main/img/01.jpg");
    background-repeat: no-repeat;
    background-position: 0% 0%;
    background-size: cover;
    background-color: black;
    position: relative;
    padding-top: 0px;
    padding-bottom: 60px;
    margin-left: auto;
    margin-right: auto;

  }

  .menu {
    position: fixed;
    margin-top: 20px;
    margin-bottom: 20px;
    
  }



