* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
  
  }
  
  
  h1,h3,h2 {
    margin: 0;
    font-size: 1em;
  }
  
  li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  p {
    margin: 0;
  }
  
  input:focus {
    outline: none;
  }
  
  *:before,
  *:after   {
    box-sizing: border-box;
  }

  /* <uniquifier>: Use a unique and descriptive class name
  / <weight>: Use a value from 300 to 800*/

  /*open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  }*/